body
{
    background-color: rgb(75, 74, 72);
    margin: 0px;
    font-family: 'Times New Roman';
    font-size: 30px;
}

.flexbox
{
    display: flex;
    justify-content: space-between;
}

.sidebar
{
    position: sticky;
    align-self: start;
    top: 1%;
    background-color: black;
    height: 100%;
    padding: 20px;
    width: 18%;
    float: left;
    border: 18px double white;
    margin: 0.5%;
}

.main
{
    width: 82%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 9px solid white;
    margin: 0.5%;
}

.menu
{
    position: relative;
    height: 100%;
    width: 100%;
    float: right;
}

.item
{
    color: rgb(0, 234, 255);
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu a
{
    color: rgb(0, 234, 255);
}

.heading
{
    color: blanchedalmond;
    font-family: 'Gill Sans';
    font-size: 30px;
    border: 5px double rgb(255, 255, 255);
    text-align: center;
    margin: 1%;
}

.content
{
    text-align: center;
    float: center;
    color: aquamarine;
    margin: auto;
}

.button
{
    background-color: #ffffff;
    float: right;
    box-shadow: 3px 3px 3px #8c00ff;
    width: 80px;
    height: 30px;
    margin: 15px;
    margin-top: 13px;
}

.e
{
    color: rgb(60, 0, 255);
    text-shadow: 1px 1px 2px rgb(255, 255, 255),
                3px 2px rgb(255, 255, 255),
                5px 5px 2px rgb(255, 255, 255),
                7px 7px 5px rgb(255, 255, 255);
    background-color: rgb(0, 157, 255);
    padding: 10px 0px 10px 10px;
    font-size: 30px;
}

table, th
{
    border: 2px solid;
    margin: 10px;
    border-spacing: 10px;
    text-align: center;
}

a
{
    color: aquamarine;
}