body
{
    background-image: url("background6.jpg");
    background-size: 150px;
}

.img
{
    margin-top: 20px;
    margin-left: 5%;
    width: 375px;
    border-radius: 1000px;
    float: left;
    box-shadow: 20px 10px 50px 0px #c99fec,
                -20px -10px 50px 0px #c99fec;
}

.a
{
    color: aliceblue;
    text-align: center;
    font-size: 35px;
    font-family: cursive;
    text-shadow: 1px 1px 2px black,
                3px 2px rgb(255, 0, 0),
                5px 5px 2px rgb(0, 0, 0),
                7px 7px 5px rgb(255, 0, 0);
}

.about
{
    color: aliceblue;
    text-align: center;
    font-size: 35px;
    font-family: cursive;
    text-shadow: 1px 1px 2px black,
                3px 2px rgb(0, 0, 0),
                5px 5px 2px rgb(0, 0, 0),
                7px 7px 5px rgb(0, 0, 0);
    padding: 100px;
}

a
{
    text-decoration: none;
}

h1
{
    color: aliceblue;
    text-align: center;
    text-decoration: underline;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    text-shadow: 1px 1px 2px black,
                3px 2px rgb(255, 0, 0),
                5px 5px 2px rgb(0, 0, 0),
                7px 7px 5px rgb(0, 119, 255);
}

.card-list 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 100%;
    margin-left: 0.5%;
    margin-top: 65px;
    padding: 5px;
    gap: 100px;
    text-align: center;
}

.card-list .card-item 
{
    background: radial-gradient(circle 200px, rgb(0, 217, 255), rgb(13, 174, 182), rgb(0, 140, 255), rgb(0, 85, 255));
    padding: 30px;
    border-radius: 80px;
    box-shadow: 10px 10px 1px rgba(68, 255, 0, 0.04),
                12px 12px 1px rgba(68, 255, 0, 0.04),
                14px 14px 1px rgba(68, 255, 0, 0.04);
    cursor: pointer;
    border: 10px double rgb(255, 255, 255);
    transition: border 0.5s ease;
    text-align: center;
}

.card-list .card-item:hover 
{
    border: 10px solid #000;
}

.card-list span 
{
    display: inline-block;
    background: #F7DFF5;
    margin-top: 5px;
    padding: 0px 10px;
    font-size: 10px;
    border-radius: 10px;
    font-weight: 1000;
}

.card-list .c 
{
    background-color: #c99fec; 
    font-family: cursive;
    font-size: 35px;
    color: #71189e;
    text-align: center;
}

.card-item h3 
{
    color: #ffee00;
    text-shadow: 3px 3px 5px #000,
                5px 5px 10px #000,
                7px 7px 10px #000;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    font-family: 'Times New Roman';
    text-decoration: none;
}

.arrow
{
    background-image: url("arrow1_light.png");
    transform: rotate(-15deg);
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
    margin-left: 35%;
    transition: 0.2s ease;
}

.arrow:hover
{
    background-image: url("arrow2.png");
    transform: rotate(0deg);
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
}

.b
{
    color: aliceblue;
    text-align: left;
    text-decoration: underline;
    font-size: 45px;
    margin-top: 100px;
    margin-right: 10%;
    font-family: cursive;
    text-shadow: 1px 1px 2px black,
                3px 2px rgb(255, 0, 0),
                5px 5px 2px rgb(0, 0, 0),
                7px 7px 5px rgb(0, 119, 255);
}

.d
{
    color: aliceblue;
    text-align: center;
    font-size: 45px;
    margin-right: 30%;
    margin-left: 30%;
    font-family: cursive;
    text-shadow: 1px 1px 2px black,
                3px 2px rgb(255, 0, 0),
                5px 5px 2px rgb(0, 0, 0),
                7px 7px 5px rgb(0, 119, 255);
    backdrop-filter: blur(8px);
}

.git
{
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.mail
{
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.insta
{
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.fb
{
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
}

.button
{
    background-color: #ffffff;
    float: right;
    box-shadow: 3px 3px 3px #8c00ff;
    width: 80px;
    height: 30px;
    margin: 15px;
    margin-top: 13px;
}

.e
{
    color: rgb(60, 0, 255);
    text-shadow: 1px 1px 2px rgb(255, 255, 255),
                3px 2px rgb(255, 255, 255),
                5px 5px 2px rgb(255, 255, 255),
                7px 7px 5px rgb(255, 255, 255);
    background-color: rgb(0, 157, 255);
    padding: 10px 0px 10px 10px;
    font-size: 30px;
}